# Ignorar archivos de caché y compilación
__pycache__/
*.pyc

# Ignorar entorno virtual
.venv/
.env

# Ignorar logs y archivos temporales
*.log
*.tmp

# Ignorar configuraciones de IDE
.vscode/
.idea/


/config/turnos_ya.json